h1 {
    text-align: center;
    color: blueviolet;
}
h2{
    color: blueviolet;
}
div{
    color: royalblue
}
html{
    background-color: chocolate;
}
p{
    text-align: center;
}
form{
    text-align: center;
}
h2{
    text-align: center;
}